<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>stud</display-name>
    <servlet-name>stud</servlet-name>
    <servlet-class>servlets.stud</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stud</servlet-name>
    <url-pattern>/stu</url-pattern>
  </servlet-mapping>
  <display-name>Samplephase</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
   
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>stud2</display-name>
    <servlet-name>stud2</servlet-name>
    <servlet-class>servlets.stud2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stud2</servlet-name>
    <url-pattern>/studadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>stdelservlet</display-name>
    <servlet-name>stdelservlet</servlet-name>
    <servlet-class>servlets.stdelservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stdelservlet</servlet-name>
    <url-pattern>/stud3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>stupdservlet</display-name>
    <servlet-name>stupdservlet</servlet-name>
    <servlet-class>servlets.stupdservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stupdservlet</servlet-name>
    <url-pattern>/stud5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Teacherview</display-name>
    <servlet-name>Teacherview</servlet-name>
    <servlet-class>servlets.Teacherview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Teacherview</servlet-name>
    <url-pattern>/tea</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherDaoImpl</display-name>
    <servlet-name>TeacherDaoImpl</servlet-name>
    <servlet-class>dao.TeacherDaoImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherDaoImpl</servlet-name>
    <url-pattern>/TeacherDaoImpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Teacheradd</display-name>
    <servlet-name>Teacheradd</servlet-name>
    <servlet-class>servlets.Teacheradd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Teacheradd</servlet-name>
    <url-pattern>/teaddSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Teacherdelete</display-name>
    <servlet-name>Teacherdelete</servlet-name>
    <servlet-class>servlets.Teacherdelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Teacherdelete</servlet-name>
    <url-pattern>/tedelServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Teacherupdate</display-name>
    <servlet-name>Teacherupdate</servlet-name>
    <servlet-class>servlets.Teacherupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Teacherupdate</servlet-name>
    <url-pattern>/teupServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Teachersetup</display-name>
    <servlet-name>Teachersetup</servlet-name>
    <servlet-class>servlets.Teachersetup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Teachersetup</servlet-name>
    <url-pattern>/teset</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Subjectsview</display-name>
    <servlet-name>Subjectsview</servlet-name>
    <servlet-class>servlets.Subjectsview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Subjectsview</servlet-name>
    <url-pattern>/sub</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Subjectsadd</display-name>
    <servlet-name>Subjectsadd</servlet-name>
    <servlet-class>servlets.Subjectsadd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Subjectsadd</servlet-name>
    <url-pattern>/suaddser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Classadd</display-name>
    <servlet-name>Classadd</servlet-name>
    <servlet-class>servlets.Classadd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Classadd</servlet-name>
    <url-pattern>/claddserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Classsubjectadd</display-name>
    <servlet-name>Classsubjectadd</servlet-name>
    <servlet-class>servlets.Classsubjectadd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Classsubjectadd</servlet-name>
    <url-pattern>/clsubset</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassTeacheradd</display-name>
    <servlet-name>ClassTeacheradd</servlet-name>
    <servlet-class>servlets.ClassTeacheradd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassTeacheradd</servlet-name>
    <url-pattern>/clteachset</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/log</url-pattern>
  </servlet-mapping>
</web-app>